@using MvcBreadCrumbs
@model  PagedList.IPagedList<EnvisionAGreenLife.Models.appliance_types>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- this is the view logic page to display the results when the user clicks the appliance type from the save energy dropdown-->
<link href="~/Styles/Applianceslayout.css" rel="stylesheet" />
<body>
    <div class="page-title-section">
        <div class="container">
            <h1 class="page-title" style="padding-left:20px;">Save Energy</h1>
        </div>
    </div>
    <div class="breadcrum" style="margin-left:10%">
        @Html.Raw(BreadCrumb.Display())
    </div>
    <div class="cards-section">
        <div class="centered-container-2 w-container">
            <p>Choose a type of appliance, and find the energy consumption of the appliance in your house</p><br />
            @using (Html.BeginForm("General_search", "Food_recipes", FormMethod.Get, new { @class = "appliance-collection-search-bar w-form" }))
            {
                <div>
                    @Html.TextBox("SearchString", null, new { required = "", id = "search", style = "maxlength: 256;", @class = "appliance-collection-search w-input", @placeholder = "Search..." })
                    <input type="submit" value="Search" class="appliancec-collection-search-but w-button">
                </div>
            }
            <div class="cards-grid-container-2">
                <div>
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "air_conditioner")'>
                            <img src='@Url.Content("~/Images/air_conditioner1.png")' alt="Air_conditioner" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "air_conditioner")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 class="appliance-name">AIR CONDITIONER</h4>
                </div>
                <div id="w-node-9c9d69aee442-f67e0d43">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "clothes_washer")'>
                            <img src='@Url.Content("~/Images/cw2.png")' alt="Clothes_Washer" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "clothes_washer")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 class="appliance-name">CLOTHES WASHER</h4>
                </div>
                <div id="w-node-9c9d69aee448-f67e0d43">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "clothes_dryer")'>
                            <img src='@Url.Content("~/Images/cw1.png")' alt="Clothes_Dryer" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "clothes_dryer")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 id="w-node-9c9d69aee44b-f67e0d43" class="appliance-name">CLOTHES DRYER</h4>
                </div>
                <div id="w-node-9c9d69aee44d-f67e0d43">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "dishwashers")'>
                            <img src='@Url.Content("~/Images/dishwasher1.png")' alt="Dishwasher" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "dishwashers")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 id="w-node-9c9d69aee451-f67e0d43" class="appliance-name">DISHWASHER</h4>
                </div>
                <div id="w-node-9c9d69aee453-f67e0d43">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "monitors")'>
                            <img src='@Url.Content("~/Images/monitor1.png")' alt="Monitor" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "monitors")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 id="w-node-9c9d69aee457-f67e0d43" class="appliance-name">MONITOR</h4>
                </div>
                <div id="w-node-eae23b7853e9-f67e0d43">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "refrigerators")'>
                            <img src='@Url.Content("~/Images/refrigerator1.png")' alt="Refrigerator" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "refrigerators")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 class="appliance-name">REFRIGERATOR</h4>
                </div>
                <div id="w-node-06e4a0cd410c-f67e0d43">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "televisions")'>
                            <img src='@Url.Content("~/Images/tv1.png")' alt="Television" class="cards-image-2" />
                        </a>
                        <a href="@Url.Action("Index", "televisions")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top: 77%">Learn More</a>
                    </div>
                    <h4 class="appliance-name">TELEVISION</h4>
                </div>
            </div>
        </div>
    </div>
</body>





