@using MvcBreadCrumbs
@{
    ViewBag.Title = "Composting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- this is the view logic page to display the results when the user clicks the composting from the reuse dropdown-->

<style>

    .composting-container {
        margin-top: 3%;
    }

    .heading-12 {
        margin-top: auto;
        padding-right: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
    }

    .paragraph-6 {
        padding-right: 0%;
        padding-left: 0%;
    }
</style>

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Composting</h1>
    </div>
</div>

<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>


<div class="composting-container w-container">
    <div class="w-row">
        <div class="w-col w-col-6">
            <h2 class="heading-12">Why Compost?</h2>
            <p class="paragraph-6" style="text-align:justify">Composting is an inexpensive and natural process that disposes your kitchen and garden waste in a more eco-friendly way. </p>
            <h2 class="heading-12">Facts</h2>
            <p class="paragraph-6" style="text-align:justify">Did you know, composting at home for just one year can save global warming gases equivalent to all the carbon dioxide your kettle produces annually, or your washing machine produces in three months? </p>
        </div>
        <div class="w-col w-col-6">
            <h2 class="heading-12">Concerns</h2>
            <p class="paragraph-6" style="text-align:justify">We are often posed questions such as &quot;why do I need to compost?” Or “why should I worry when my local council does food waste collections?&quot;<br><br>Research suggests that almost half of the food waste in the average rubbish bin could have been composted. Victorian households, we all can do our part to reduce the amount of waste sent to landfill or other costlier forms of treatment by composting your food and garden waste at home. <br><br></p>
        </div>
    </div>
</div>

<!-- this is the logic to place all the elements and categories of different types of property on the page with the card grid  images and button-->

<section id="cards-section" class="cards-section-2">
    <div class="centered-container-2 w-container">
        <h2 style="text-align:center;">Select your property type</h2>
        <div class="cards-grid-container-2">
            <div id="w-node-53bfe8321652-e832164b">
                <div class="cards-image-mask">
                    <a href='@Url.Action("apartment", "Home")'>
                        <img src='@Url.Content("~/Images/apartment.png")' alt="Apartment" class="cards-image-2" />
                    </a>
                    <a href="@Url.Action("apartment", "Home")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top:77%;">Learn More</a>
                </div>
                <h4 class="appliance-name">Apartment</h4>
            </div>
            <div id="w-node-53bfe8321658-e832164b">
                <div class="cards-image-mask">
                    <a href='@Url.Action("townhouse", "Home")'>
                        <img src='@Url.Content("~/Images/townhouse.png")' alt="Townhouse" class="cards-image-2" />
                    </a>
                    <a href="@Url.Action("townhouse", "Home")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top:77%;">Learn More</a>
                </div>
                <h4 class="appliance-name">Townhouse</h4>
            </div>
            <div id="w-node-53bfe832165d-e832164b">
                <div class="cards-image-mask">
                    <a href='@Url.Action("suburban_household", "Home")'>
                        <img src='@Url.Content("~/Images/Suburban_household.png")' alt="Suburban Household" class="cards-image-2" />
                    </a>
                    <a href="@Url.Action("suburban_household", "Home")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top:77%;">Learn More</a>
                </div>
                <h4 class="appliance-name">Suburban Household</h4>
            </div>
            <div id="w-node-53bfe8321663-e832164b">
                <div class="cards-image-mask">
                    <a href='@Url.Action("rural_household", "Home")'>
                        <img src='@Url.Content("~/Images/rural.png")' alt="Rural Household" class="cards-image-2" />
                    </a>
                    <a href="@Url.Action("rural_household", "Home")" class="btn light outline w-button" style="margin-left:-75px; left:50%; top:77%;">Learn More</a>
                </div>
                <h4 class="appliance-name">Rural Household</h4>
            </div>
        </div>
    </div>
</section>