@{
    ViewBag.Title = "Home Page";
}
    <link href="~/Styles/HomeIndex.css" rel="stylesheet" />
<!-- Slideshow container -->

<div class="container">
    <div class="mySlides">
        <div class="numbertext">1 / 4</div>
            <img class="slideimages" src='@Url.Content("~/Images/Appliances.jpg")' style="width:100%" />
            <button onclick="location.href='@Url.Action("AppliancesType", "Home")'" type="button" class="slideButton">
                Save Your Energy!
            </button>
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 4</div>
        <img class="slideimages" src='@Url.Content("~/Images/FoodRecipes.jpg")' style="width:100%" />
        <button onclick="location.href='@Url.Action("ReduceFoodWaste", "Home")'" type="button" class="slideButton">
        Reduce Your Food Waste!
        </button>
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 4</div>
        <img class="slideimages" src='@Url.Content("~/Images/Ingredients.jpg")' style="width:100%" />
        <button onclick="location.href='#'" type="button" class="slideButton">
            Compost Your Food Scraps!
        </button>
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 4</div>
        <img class="slideimages" src='@Url.Content("~/Images/GrowYourHerb.jpg")' style="width:100%" />
        <button onclick="location.href='#'" type="button" class="slideButton">
            Grow Your Herb!
        </button>
    </div>


    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex - 1].style.display = "block";
    }
</script>