@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Styles/HomePage.css" rel="stylesheet" />
@*<div class="container">

        <img src="~/Images/title2.jpg" height="400" width="1100">
    </div>*@

<div class="container body-content">
    <div style="margin-left:250px">
        @using (Html.BeginForm("General_search", "Food_recipes", FormMethod.Get))
        {
            <div>
                Search all recipes: @Html.TextBox("SearchString", null, new { style = "width: 380px;", @class = "recipeSearchBar", @placeholder = "Find by name, ingredients, time, difficulty level" })
                Difficulty: @Html.DropDownList("Difficulty", null, htmlAttributes: new { @class = "recipeSearchBar" })
                <input type="submit" value="Search" />
            </div>
        }
    </div>

    <div class="section">
        <div class="columns">

            <div>
                <h1>Leftover Recipes</h1>
                <br />
                <div>
                    <p>
                        Have a go at these recipes. Easy to make, less waste, and possibly a new family favourite waiting to
                        be discovered!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container body-content">

    <h3>
        Recipe collections
    </h3>

    <div class="container body-content">
        <div class="row" style="margin: 0 -30px;">
            <div class="column" style="width:250px;padding: 0 0px;">
                <div class="card" style="padding:0px;">
                    <img src="~/Images/breakfastfin.jpg" style="width:250px; height:250px; filter: brightness(70%);" />
                    <button onclick="location.href='@Url.Action("breakfast_recipes", "Food_recipes")'" type="button" class="slideButton" style="top: 140px;left: 118px;width: 240px;font-size:20px;">
                        Breakfast Recipes
                    </button>
                </div>
            </div>

            <div class="column" style="width:250px;padding: 0 0px;margin-left:33px;">
                <div class="card" style="padding:0px;">
                    <img src="~/Images/lunchfin.jpg" style="width:250px; height:250px; filter: brightness(70%);" />
                    <button onclick="location.href='@Url.Action("lunch_recipes", "Food_recipes")'" type="button" class="slideButton" style="top: 140px;left: 395px;width: 240px;font-size:20px;">
                        Lunch Recipes
                    </button>
                </div>
            </div>

            <div class="column" style="width: 250px;padding: 0 0px;margin-left:33px;">
                <div class="card" style="padding:0px;">
                    <img src="~/Images/dinnerfin.jpg" style="width:250px; height:250px; filter: brightness(70%);" />
                    <button onclick="location.href='@Url.Action("dinner_recipes", "Food_recipes")'" type="button" class="slideButton" style="top: 140px;left: 675px;width: 240px;font-size:20px;">
                        Dinner Recipes
                    </button>
                </div>
            </div>
            <div class="column" style="width:250px;padding: 0 0px;margin-left:33px;">
                <div class="card" style="padding:0px;">
                    <img src="~/Images/dessertfin2.png" style="width:250px; height:250px; filter: brightness(70%);" />
                    <button onclick="location.href='@Url.Action("dessert_recipes", "Food_recipes")'" type="button" class="slideButton" style="top: 140px;left: 960px;width: 240px;font-size:20px;">
                        Dessert Recipes
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
