@using MvcBreadCrumbs
@{
    ViewBag.Title = "ReduceFoodWaste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Reduce Food Waste</h1>
    </div>
</div>

<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>

<section id="cards-section" class="cards-section">
    <div class="centered-container w-container">
        <h2>Get Started Its Easy.</h2>
        <p>If you are ready to reduce your household food waste, below are some ideas to get you started on your own.<br></p>
        <div class="columns-2 w-row">
            <div class="column-4 w-col w-col-6">
                <div class="div-block-2">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("LeftoverRecipe", "Home")'>
                            <img src="~/Images/FoodRecipes.png" class="cards-image" />
                            </a>
                            <button onclick="location.href='@Url.Action("LeftoverRecipe", "Home")'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%; ">
                                Learn More
                            </button>
                    </div>
                    <h3>Left-Over Food Recipes</h3>
                    <p>Food recipes categorized into breakfast, lunch, dinner and dessert and difficulty level ranging from easy to challenging or search by ingredient. We have it all. Growing your own herbs ka content. </p>
                </div>
            </div>

            <div class="column-5 w-col w-col-6">
                <div class="div-block">
                    <div class="cards-image-mask">
                        <a href='@Url.Action("Index", "Herbs")'>
                            <img src="~/Images/herbs.png" alt="" class="cards-image">
                            </a>
                            <button onclick="location.href='@Url.Action("Index", "Herbs")'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%;">
                                Learn More
                            </button>
                    </div>
                    <h3 id="w-node-e8c45c7a2617-d77e0d3d">Grow Your Own Herbs</h3>
                    <p id="w-node-e8c45c7a2619-d77e0d3d" class="paragraph-4">All the herbs with their growing time, soil type, steps and difficulty level sorted in one place. Grow now and thank us later. </p>
                </div>
            </div>
        </div>
    </div>
</section>
