@model EnvisionAGreenLife.Models.television

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>television</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Submit_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submit_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand_Reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand_Reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.screensize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screensize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen_Tech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen_Tech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasv_stnd_power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasv_stnd_power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_stnd_power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_stnd_power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_stnd_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_stnd_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avg_mode_power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avg_mode_power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SRI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representative_Brand_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative_Brand_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star_Rating_Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star_Rating_Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star_Image_Large)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star_Image_Large)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star_Image_Small)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star_Image_Small)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Power_supply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Power_supply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuner_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuner_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.What_test_standard_was_used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.What_test_standard_was_used)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appliance_types.Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appliance_types.Type_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
