@model EnvisionAGreenLife.Models.television

@{ var SpList = ViewData["SimilarProducts"] as List<EnvisionAGreenLife.Models.television>;}


@{
    ViewBag.Title = "Television Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/ApplianceDetail.css" rel="stylesheet" />
<h1>@Model.Brand_Reg @Model.Model_No</h1>
<div class="applianceImage">
    <img src='@Url.Content("~/Images/television1.png")' alt="Television" />
</div>
<div class="applianceIntro">
    <h2>@Model.Brand_Reg @Model.screensize @Model.Screen_Tech Television</h2>
    <br />
    <h3>Energy Rating: @Model.Star2</h3>
    <br />
    <br />
    <br />
    <p>
        In a large screen size for optimal viewing, this @Model.Brand_Reg
        @Model.screensize” TV offers amazing colour quality 
        with its Quantum Dot Technology. With smart connectivity,
        this TV easily lets you access your favourites from
        popular streaming services including Netflix, Amazon 
        Prime and Disney+. Built-in voice assistant makes it 
        simple to control your viewing and the slim bezel-less 
        design is simply stunning to watch.
    </p>
</div>
<hr />
<div class="specification">
    <h3>Specification</h3>
    <dl class="dl-horizontal">

        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand_Reg)
        </dd>

        <dt>
            Model number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_No)
        </dd>

        <dt>
            Made in
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            Screen size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screensize)
        </dd>

        <dt>
            Screen area
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen_Area)
        </dd>

        <dt>
            Screen technology
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen_Tech)
        </dd>

        <dt>
            Energy Rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>

        <dt>
            Tuner Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuner_Type)
        </dd>

        <dt>
            Power supply
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Power_supply)
        </dd>

        <dt>
            Product website
        </dt>

        <dd>
            <a href="@Model.Product_Website">@Model.Product_Website</a>
        </dd>

        <dt>
            Representive brand Url
        </dt>
        <dd>
            <a href="@Model.Representative_Brand_URL">@Model.Representative_Brand_URL</a>
        </dd>
    </dl>
</div>
<hr>
<div>
    <h3>Similar products</h3>
    <br>
    @foreach (var item in SpList)
    {<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <h2 style="text-align:center; height:50px;">@item.Brand_Reg</h2>
                <a href='@Url.Action("Details", "televisions",new { id = @item.Television_Id})'>
                    <img src='@Url.Content("~/Images/television4.jpg")' alt="Television" style="width:100%" />
                </a>
                <p>
                    <button onclick="location.href='@Url.Action("Details", "televisions",new { id = @item.Television_Id })'" type="button" class="Button" style="height:100px">
                        Model Number: @item.Model_No
                    </button>
                </p>
            </div>
        </div>
    }
</div>