@using MvcBreadCrumbs
@model EnvisionAGreenLife.Models.television

@{ var SpList = ViewData["SimilarProducts"] as List<EnvisionAGreenLife.Models.television>;}


@{
    ViewBag.Title = "Television Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* this page contains the view logic for the appliance details page design *@

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">@Model.Brand_Reg - @Model.Model_No</h1>
    </div>
</div>

<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>

@* code to display the different appliance in a grid of cards consiting images and model number of AC *@

<div class="section-3" style="margin-top:40px">
    <div class="w-row">
        <div class="w-col w-col-6">
            <div class="appliance-detail-image-wrapper">
                @if (Model.Television_Id % 9 == 1)
                {
                    <img src='@Url.Content("~/Images/tv1.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 2)
                {
                    <img src='@Url.Content("~/Images/tv2.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 3)
                {
                    <img src='@Url.Content("~/Images/tv3.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 4)
                {
                    <img src='@Url.Content("~/Images/tv4.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 5)
                {
                    <img src='@Url.Content("~/Images/tv5.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 6)
                {
                    <img src='@Url.Content("~/Images/tv6.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 7)
                {
                    <img src='@Url.Content("~/Images/tv7.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 8)
                {
                    <img src='@Url.Content("~/Images/tv8.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Television_Id % 9 == 0)
                {
                    <img src='@Url.Content("~/Images/tv.png")' alt="Television" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
            </div>
        </div>
        <div class="column-6 w-col w-col-6" style="padding-top: 0px;">
            <p class="paragraph-3"><b>@Model.Brand_Reg @Model.screensize @Model.Screen_Tech Television</b></p>
            <p class="paragraph-3" style="font-size: 30px; text-align: center;">Energy Rating: @Model.Star2</p>
            <hr />
            <p class="paragraph-2" style="text-align:justify">
                <strong>TELEVISION DESCRIPTION:<br></strong>In a large screen size for optimal viewing, this @Model.Brand_Reg
                @Model.screensize” TV offers amazing colour quality
                with its Quantum Dot Technology. With smart connectivity,
                this TV easily lets you access your favourites from
                popular streaming services including Netflix, Amazon
                Prime and Disney+. Built-in voice assistant makes it
                simple to control your viewing and the slim bezel-less
                design is simply stunning to watch.
            </p>
            <hr />

            @* code to display the details of the selected appliance with collapse-able specification. *@

            <div class="accordion-wrapper">
                <div class="accordion-item">
                    <div class="accordion-item-trigger">
                        <h4 class="heading-7">Specification                        +</h4>
                    </div>
                    <div class="accordion-item-content">
                        <dl class="dl-horizontal">

                            <dt>
                                Brand
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Brand_Reg)
                            </dd>

                            <dt>
                                Model number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Model_No)
                            </dd>

                            <dt>
                                Made in
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>

                            <dt>
                                Screen size
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.screensize) Inches
                            </dd>

                            <dt>
                                Screen technology
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Screen_Tech)
                            </dd>

                            @if (Model.Product_Website != null)
                            {
                                <dt>
                                    Product website
                                </dt>

                                <dd>
                                    <a href="@Model.Product_Website" target="_blank">@Model.Product_Website</a>
                                </dd>
                            }

                            @if (Model.Representative_Brand_URL != null)
                            {
                                <dt>
                                    Representive brand Url
                                </dt>
                                <dd>
                                    <a href="@Model.Representative_Brand_URL" target="_blank">@Model.Representative_Brand_URL</a>
                                </dd>
                            }

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* code to show the similar products in grid of cards using the logic from the controller class. *@

<div>
    <h2 class="heading-5">Review Similar Products</h2>
    <div class="container">
        <div class="w-row">

            @foreach (var item in SpList)
            {
                <div class="w-col w-col-4">
                    <div class="appliance-card">
                        <a href='@Url.Action("Details", "televisions",new { id = @item.Television_Id})'>
                            @if (item.Television_Id % 9 == 1)
                            {
                                <img src='@Url.Content("~/Images/tv1.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 2)
                            {
                                <img src='@Url.Content("~/Images/tv2.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 3)
                            {
                                <img src='@Url.Content("~/Images/tv3.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 4)
                            {
                                <img src='@Url.Content("~/Images/tv4.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 5)
                            {
                                <img src='@Url.Content("~/Images/tv5.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 6)
                            {
                                <img src='@Url.Content("~/Images/tv6.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 7)
                            {
                                <img src='@Url.Content("~/Images/tv7.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 8)
                            {
                                <img src='@Url.Content("~/Images/tv8.png")' alt="Television" class="appliance-card-image" />
                            }
                            else
                            if (item.Television_Id % 9 == 0)
                            {
                                <img src='@Url.Content("~/Images/tv9.png")' alt="Television" class="appliance-card-image" />
                            }
                        </a>
                        <button onclick="location.href='@Url.Action("Details", "televisions",new { id = @item.Television_Id })'" type="button" class="appliance-card-but w-button" style="height:100px;">
                            @item.Brand_Reg: @item.Model_No
                        </button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

