@using PagedList.Mvc
@model  EnvisionAGreenLife.ViewModel.TList

@{
    ViewBag.Title = "Television";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Applianceslayout.css" rel="stylesheet" />
<body>
    <form asp-action="Index" method="get" style="margin-left:320px">
        <div class="form-actions no-color">
            <p>
                Find by brand: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a href="@Url.Action("Index","televisions")">Back to Full List</a>
            </p>
        </div>
    </form>

    <div class="row col-lg-12 col-md-12" style="height:auto">
        @{int x = 0;}
        @if (Model != null)
        {
            foreach (var item in Model.Televisions)
            {
                x++;
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card" style="margin-top:50px">
                        <h2 style="text-align:center; height:50px;">@item.Brand_Reg</h2>
                        <a href='@Url.Action("Details", "televisions",new { id = @item.Television_Id})'>
                            <img src='@Url.Content("~/Images/television3.jpg")' alt="Television" style="width:100%" />
                        </a>
                        <p>
                            <button onclick="location.href='@Url.Action("Details", "televisions",new { id = @item.Television_Id })'" type="button" class="Button" style="height:100px">
                                Model Number: @item.Model_No
                            </button>
                        </p>
                    </div>
                </div>
            }
        }
    </div>

    <br>
    <br>
    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.Televisions.PageCount < Model.Televisions.PageNumber ? 0 : Model.Televisions.PageNumber)
        of @Model.Televisions.PageCount   @Html.PagedListPager(Model.Televisions, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter }))
    </div>
</body>
