@model EnvisionAGreenLife.Models.monitor

@{ var SpList = ViewData["SimilarProducts"] as List<EnvisionAGreenLife.Models.monitor>;}


    @{
        ViewBag.Title = "Monitor Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/Styles/ApplianceDetail.css" rel="stylesheet" />
    <h1>@Model.Brand_Name @Model.Model_Number</h1>
    <div class="applianceImage">
        <img src='@Url.Content("~/Images/monitor4.jpg")' alt="Monitor" />
    </div>
    <div class="applianceIntro">
        <h2>@Model.Brand_Name @Model.Screen_Size" @Model.Screen_Technology Monitor</h2>
        <br />
        <h3>Energy Rating: @Model.Star_Rating </h3>
        <br />
        <br />
        <br />
        <p>
            Elevate your home entertainment with this @Model.Brand_Name @Model.Screen_Size" @Model.Screen_Technology Monitor.
            Watch and enjoy vivid colours and clearer detail thanks to the
            Quad Core Processor 4K and watch movies like the director intended
            with the unique Film Maker Mode™. The wide viewing angle on this Monitor
            makes it simple to enjoy your content clearly, no matter what seat you have
            in the room. Available in a wide range of screen sizes, this Monitor will fit in any space in your home.
        </p>
    </div>
    <hr />
    <div class="specification">
        <h3>Specification</h3>
        <dl class="dl-horizontal">

            <dt>
                Brand Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand_Name)
            </dd>

            <dt>
                Model Number:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model_Number)
            </dd>

            <dt>
                Selling countries:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Selling_Countries)
            </dd>

            <dt>
                Made in:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturing_Countries)
            </dd>

            <dt>
                Screen size (Inches):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Screen_Size)
            </dd>

            <dt>
                Screen techonology:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Screen_Technology)
            </dd>

            <dt>
                Energy consumption (KW):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comparative_Energy_Consumption)
            </dd>

            <dt>
                Rating:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Star_Rating)
            </dd>

            <dt>
                Product website:
            </dt>

            <dd>
                <a>@Model.Product_Website</a>
            </dd>

            <dt>
                Brand Url:
            </dt>

            <dd>
                <a>@Model.Representative_Brand_URL</a>
            </dd>
        </dl>
        <hr>
        <div>
            <h3>Similar products</h3>
            <br>
            @foreach (var item in SpList)
            {<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <h2 style="text-align:center; height:50px;">@item.Brand_Name</h2>
                        <a href='@Url.Action("Details", "monitors",new { id = @item.Monitor_Id})'>
                            <img src='@Url.Content("~/Images/monitor4.jpg")' alt="Monitor" style="width:100%" />
                        </a>
                        <p>
                            <button onclick="location.href='@Url.Action("Details", "monitors",new { id = @item.Monitor_Id })'" type="button" class="Button" style="height:100px">
                                Model Number: @item.Model_Number
                            </button>
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
