@using PagedList.Mvc
@using MvcBreadCrumbs
@model  EnvisionAGreenLife.ViewModel.MList

@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <div class="page-title-section">
            <div class="container">
                <h1 class="page-title">Monitor</h1>
            </div>
        </div>
        <div class="breadcrum" style="margin-left:10%">
            @Html.Raw(BreadCrumb.Display())
        </div>
        <div class="content-section" style="padding-top: 35px;">
            <p class="paragraph"> Play games by using energy efficient monitors</p><br />
            <form asp-action="Index" method="get" class="appliance-collection-search-bar w-form">
                <input type="search" class="appliance-collection-search w-input" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Find by brand…" id="search" required="">
                @Html.DropDownList("Ratings", null, htmlAttributes: new { @class = "recipe-dropdown" })
                <input type="submit" value="Search" class="appliancec-collection-search-but w-button">
            </form>
            <a href="@Url.Action("TopRecommendations", "monitors")" class="button-3 w-button">Top Recommendations</a>
        </div>

        @* iterative code to display all the appliance in database in grids of cards.  *@

        <div class="section-3">
            <div class="w-layout-grid grid-3">
                @{int x = 0;}
                @if (Model != null)
                {
                    foreach (var item in Model.Monitors)
                    {
                        x++;
                        <div class="appliance-card">
                            <a href='@Url.Action("Details", "monitors",new { id = @item.Monitor_Id })'>
                                @if (item.Monitor_Id % 9 == 1)
                                {
                                    <img src='@Url.Content("~/Images/monitor1.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 2)
                                {
                                    <img src='@Url.Content("~/Images/monitor2.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 3)
                                {
                                    <img src='@Url.Content("~/Images/monitor3.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 4)
                                {
                                    <img src='@Url.Content("~/Images/monitor4.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 5)
                                {
                                    <img src='@Url.Content("~/Images/monitor5.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 6)
                                {
                                    <img src='@Url.Content("~/Images/monitor6.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 7)
                                {
                                    <img src='@Url.Content("~/Images/monitor7.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 8)
                                {
                                    <img src='@Url.Content("~/Images/monitor8.png")' alt="Monitor" class="appliance-card-image" />
                                }
                                else
                                if (item.Monitor_Id % 9 == 0)
                                {
                                    <img src='@Url.Content("~/Images/monitor9.png")' alt="Monitor" class="appliance-card-image" />
                                }
                            </a>
                            <p>
                                <button onclick="location.href='@Url.Action("Details", "monitors",new { id = @item.Monitor_Id })'" type="button" class="appliance-card-but w-button" style="height:100px">
                                    @item.Brand_Name: @item.Model_Number
                                </button>
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
        <br>
        <br>
        @* code to display page count based on the data in the database. *@

        <div class="pagecount" style="margin:auto; text-align:center">
            Page @(Model.Monitors.PageCount < Model.Monitors.PageNumber ? 0 : Model.Monitors.PageNumber)
            of @Model.Monitors.PageCount   @Html.PagedListPager(Model.Monitors, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter, currentRatings = ViewBag.currentRatings }))
        </div>
    </body>
