@model IEnumerable<EnvisionAGreenLife.Models.monitor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Record_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Selling_Countries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturing_Countries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screen_Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screen_Technology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comparative_Energy_Consumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active_Standby_Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star_Rating_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star_Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Representative_Brand_URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiry_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star_Image_Large)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star_Image_Small)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appliance_types.Type_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Record_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Family_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Selling_Countries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturing_Countries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Screen_Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Screen_Technology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comparative_Energy_Consumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active_Standby_Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Star_Rating_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Star_Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Representative_Brand_URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availability_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiry_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Star_Image_Large)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Star_Image_Small)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appliance_types.Type_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Monitor_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Monitor_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Monitor_Id })
        </td>
    </tr>
}

</table>
