@using PagedList.Mvc
@using MvcBreadCrumbs
@model  EnvisionAGreenLife.ViewModel.AcList

@{
    ViewBag.Title = "Air Conditioners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <div class="page-title-section">
            <div class="container">
                <h1 class="page-title">Air Conditioner</h1>
            </div>
        </div>
        <div class="breadcrum" style="margin-left:10%">
            @Html.Raw(BreadCrumb.Display())
        </div>
        <div class="content-section" style="padding-top: 35px;">
            <p class="paragraph">Keep your home cool and comfortable with a high efficiency air conditioner</p><br />
            <form asp-action="Index" method="get" class="appliance-collection-search-bar w-form">
                <input type="search" class="appliance-collection-search w-input" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Find by brand…" id="search" required="">
                @Html.DropDownList("Ratings", null, htmlAttributes: new { @class = "recipe-dropdown" })
                <input type="submit" value="Search" class="appliancec-collection-search-but w-button">
            </form>
            <a href="@Url.Action("TopRecommendations", "air_conditioner")" class="button-3 w-button">Top Recommendations</a>
        </div>

        @* iterative code to display all the AC in database in grids of cards.  *@
        <div class="section-3">
            <div class="w-layout-grid grid-3">
                @{int x = 0;}
                @if (Model != null)
                {
                    foreach (var item in Model.Air_Conditioners)
                    {
                        x++;
                <div class="appliance-card">
                    @{
                        switch (item.Star2010_Cool)
                        {
                            case 5m:
                                <text>
                                    <img src='@Url.Content("~/Images/5star.png")' alt="5star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 4.5m:
                                <text>
                                    <img src='@Url.Content("~/Images/4.5star.png")' alt="4.5star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 4m:
                                <text>
                                    <img src='@Url.Content("~/Images/4star.png")' alt="4star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 3.5m:
                                <text>
                                    <img src='@Url.Content("~/Images/3.5star.png")' alt="3.5star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 3m:
                                <text>
                                    <img src='@Url.Content("~/Images/3star.png")' alt="3star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 2.5m:
                                <text>
                                    <img src='@Url.Content("~/Images/2.5star.png")' alt="2.5star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 2m:
                                <text>
                                    <img src='@Url.Content("~/Images/2star.png")' alt="2star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 1.5m:
                                <text>
                                    <img src='@Url.Content("~/Images/1.5star.png")' alt="1.5star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 1m:
                                <text>
                                    <img src='@Url.Content("~/Images/1star.png")' alt="1star" class="applicance-recommend-image" />
                                </text>
                                break;
                            case 0.5m:
                                <text>
                                    <img src='@Url.Content("~/Images/0.5star.png")' alt="0.5star" class="applicance-recommend-image" />
                                </text>
                                break;
                        }
                    }
                    <a href='@Url.Action("Details", "air_conditioner",new { id = @item.Air_Conditioner_Id })'>
                        @if (item.Air_Conditioner_Id % 9 == 1)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner1.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 2)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner2.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 3)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner3.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 4)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner4.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 5)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner5.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 6)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner6.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 7)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner7.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 8)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner8.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                        else
                        if (item.Air_Conditioner_Id % 9 == 0)
                        {
                            <img src='@Url.Content("~/Images/air_conditioner9.png")' alt="Air_conditioner" class="appliance-card-image" />
                        }
                    </a>
                    <p>
                        <button onclick="location.href='@Url.Action("Details", "air_conditioner",new { id = @item.Air_Conditioner_Id })'" type="button" class="appliance-card-but w-button" style="height:100px">
                            @item.Brand: @item.Model_No
                        </button>
                    </p>
                </div>
                    }
                }
            </div>
        </div>
        <br>
        <br>
        @* code to display page count based on the data in the database. *@
        <div class="pagecount" style="margin:auto; text-align:center">
            Page @(Model.Air_Conditioners.PageCount < Model.Air_Conditioners.PageNumber ? 0 : Model.Air_Conditioners.PageNumber)
            of @Model.Air_Conditioners.PageCount   @Html.PagedListPager(Model.Air_Conditioners, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter, currentRatings = ViewBag.currentRatings }))
        </div>
    </body>
