@using PagedList.Mvc
@model  EnvisionAGreenLife.ViewModel.AcList

@{
    ViewBag.Title = "Air_conditioner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Applianceslayout.css" rel="stylesheet" />
<body>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color" style="margin-left:320px">
            <p>
                Find by brand: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a href="@Url.Action("Index","air_conditioner")">Back to Full List</a>
            </p>
        </div>
    </form>

    <div class="row col-lg-12 col-md-12" style="height:auto">
        @{int x = 0;}
        @if (Model != null)
        {
            foreach (var item in Model.Air_Conditioners)
            {
                x++;
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card" style="margin-top: 50px">
                        <h2 style="text-align: center;height: 50px;">@item.Brand</h2>
                        <a href='@Url.Action("Details", "air_conditioner",new { id = @item.Air_Conditioner_Id })'>
                            <img src='@Url.Content("~/Images/air_conditioner2.jpg")' alt="Air_conditione" style="width:100%" />
                        </a>
                        <p>
                            <button onclick="location.href='@Url.Action("Details", "air_conditioner",new { id = @item.Air_Conditioner_Id })'" type="button" class="Button" style="height:100px">
                                Model Number: @item.Model_No
                            </button>
                        </p>
                    </div>
                </div>
            }
        }
    </div>

    <br>
    <br>
    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.Air_Conditioners.PageCount < Model.Air_Conditioners.PageNumber ? 0 : Model.Air_Conditioners.PageNumber)
        of @Model.Air_Conditioners.PageCount   @Html.PagedListPager(Model.Air_Conditioners, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter }))
    </div>
</body>
