@model IEnumerable<EnvisionAGreenLife.Models.Herb>
@using MvcBreadCrumbs

@{
    ViewBag.Title = "Grow Your Own Herb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Grow Your Own Herb</h1>
    </div>
</div>

<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>

<div class="herb-collection-section">
    <p>Choose a type of herb, and find the way to grow it in your home</p>
    <div class="herb-collection-column w-row">
        <div class="herb-collection-column1 w-col w-col-4 w-col-stack">
            <div>
                <a href='@Url.Action("Details", "Herbs", new { id = 1 })'>
                    <img src="~/Images/Basil.png" width="300" height="300" alt="Basil" style="filter: brightness(0.8);">
                    </a>
                    <button onclick="location.href='@Url.Action("Details", "Herbs", new { id = 1 })'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%;">
                        Learn More
                    </button>
                    <h4>Basil</h4>
            </div>
        </div>
        <div class="herb-collection-column1 w-col w-col-4 w-col-stack">
            <div>
                <a href='@Url.Action("Details", "Herbs", new { id = 6 })'>
                    <img src="~/Images/Chives.png" width="300" height="300" alt="Chives" style="filter: brightness(0.8);">
                    </a>
                    <button onclick="location.href='@Url.Action("Details", "Herbs", new { id = 6 })'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%;">
                        Learn More
                    </button>
                    <h4>Chives</h4>
            </div>
        </div>
        <div class="herb-collection-column1 w-col w-col-4 w-col-stack">
            <div>
                <a href='@Url.Action("Details", "Herbs", new { id = 2 })'>
                    <img src="~/Images/parsley.png" width="300" height="300" alt="Parsley" style="filter: brightness(0.8);">
                    </a>
                    <button onclick="location.href='@Url.Action("Details", "Herbs", new { id = 2 })'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%;">
                        Learn More
                    </button>
                    <h4>Parsley</h4>
            </div>
        </div>
    </div>
    <div class="herb-collection-column w-row">
        <div class="herb-collection-column1 w-col w-col-4 w-col-stack">
            <div>
                <a href='@Url.Action("Details", "Herbs", new { id = 3 })'>
                    <img src="~/Images/Rosemary.png" width="300" height="300" alt="Rosemary" style="filter: brightness(0.8);">
                    </a>
                    <button onclick="location.href='@Url.Action("Details", "Herbs", new { id = 3 })'" type="button" class="btn light outline w-button" Style="        margin-left: -75px;
        left: 50%;
        top: 77%;
">
                        Learn More
                    </button>
                    <h4>Rosemary</h4>
            </div>
        </div>
        <div class="herb-collection-column1 w-col w-col-4 w-col-stack">
            <div>
                <a href='@Url.Action("Details", "Herbs", new { id = 4 })'>
                    <img src="~/Images/Sage.png" width="300" height="300" alt="Sage" style="filter: brightness(0.8);">
                    </a>
                    <button onclick="location.href='@Url.Action("Details", "Herbs", new { id = 4 })'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%;">
                        Learn More
                    </button>
                    <h4>Sage</h4>
            </div>
        </div>
        <div class="herb-collection-column1 w-col w-col-4 w-col-stack">
            <div>
                <a href='@Url.Action("Details", "Herbs", new { id = 5 })'>
                    <img src="~/Images/Thyme.png" width="300" height="300" alt="Thyme" style="filter: brightness(0.8);">
                    </a>
                    <button onclick="location.href='@Url.Action("Details", "Herbs", new { id = 5 })'" type="button" class="btn light outline w-button" Style="margin-left:-75px; left:50%; top:77%;">
                        Learn More
                    </button>
                    <h4>Thyme</h4>
            </div>
        </div>
    </div>
</div>
