@model EnvisionAGreenLife.Models.clothes_dryer

@{ var SpList = ViewData["SimilarProducts"] as List<EnvisionAGreenLife.Models.clothes_dryer>;}


@{
    ViewBag.Title = "Clothes Dryer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/ApplianceDetail.css" rel="stylesheet" />
<h1>@Model.Brand @Model.Model_No</h1>
<div class="applianceImage">
    <img src='@Url.Content("~/Images/Clothes_Dryer.png")' alt="Clothes Dryer" />
</div>
<div class="applianceIntro">
    <h2>@Model.Brand @Model.Cap Kg @Model.Control Clothes Dryer</h2>
    <br />
    <h3>Energy Rating: @Model.New_Star </h3>
    <br />
    <br />
    <br />
    <p>
        This @Model.Brand @Model.Control dryer has the capacity to dry
        @Model.Cap kg, which is
        perfect for households of three or four. A heat pump dryer dries fabrics
        more carefully and efficiently than other types of dryers, which protects
        clothes and helps with power bill savings. Heat pump .
    </p>
</div>
<hr />
<div class="specification">
    <h3>Specification</h3>
    <dl class="dl-horizontal">
        <dt>
            Legal standard
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplStandard)
        </dd>

        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            Model number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_No)
        </dd>

        <dt>
            Rated capacity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cap)
        </dd>

        <dt>
            Control
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control)
        </dd>

        <dt>
            Made in
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            Sold in
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sold_in)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Product website
        </dt>

        <dd>
            <a href="@Model.Product_Website">@Model.Product_Website </a>
        </dd>

        <dt>
            Brand Url
        </dt>

        <dd>
            <a href="@Model.Representative_Brand_URL">@Model.Representative_Brand_URL </a>
            </dd>
            </dl>
    </div>

            <div style="height:700px">
                <h3>Similar products</h3>
                <br>
                @foreach (var item in SpList)
                {<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <h2 style="text-align:center; height:50px;">@item.Brand</h2>
                            <a href='@Url.Action("Details", "clothes_dryer",new { id = @item.Clothes_Dryer_Id})'>
                                <img src='@Url.Content("~/Images/Clothes_Dryer.png")' alt="Clothes Dryer" style="width:100%" />
                            </a>
                            <p>
                                <button onclick="location.href='@Url.Action("Details", "clothes_dryer",new { id = @item.Clothes_Dryer_Id })'" type="button" class="Button" style="height:100px">
                                    Model Number: @item.Model_No
                                </button>
                            </p>
                        </div>
                    </div>
                }

            </div>



