@using PagedList.Mvc
@model  EnvisionAGreenLife.ViewModel.CdList

@{
    ViewBag.Title = "Clothes Dryer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Applianceslayout.css" rel="stylesheet" />
<body>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color" style="margin-left:320px">
            <p>
                Find by brand: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a href="@Url.Action("Index","clothes_dryer")">Back to Full List</a>
            </p>
        </div>
    </form>

    <div class="row col-lg-12 col-md-12" style="height:auto">
        @{int x = 0;}
        @if (Model != null)
        {
            foreach (var item in Model.Clothes_dryers)
            {
                x++;
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card" style="margin-top:50px">
                        <h2 style="text-align:center; height:50px;">@item.Brand</h2>
                        <a href='@Url.Action("Details", "Clothes_dryer",new { id = @item.Clothes_Dryer_Id})'>
                            <img src='@Url.Content("~/Images/Clothes_Dryer.png")' alt="Monitor" style="width:100%" />
                        </a>
                        <p>
                            <button onclick="location.href='@Url.Action("Details", "Clothes_dryer",new { id = @item.Clothes_Dryer_Id })'" type="button" class="Button" style="height:100px">
                                @item.Model_No
                            </button>
                        </p>
                    </div>
                </div>
            }
        }
    </div>

    <br>
    <br>
    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.Clothes_dryers.PageCount < Model.Clothes_dryers.PageNumber ? 0 : Model.Clothes_dryers.PageNumber)
        of @Model.Clothes_dryers.PageCount   @Html.PagedListPager(Model.Clothes_dryers, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter }))
    </div>
</body>
