@model IEnumerable<EnvisionAGreenLife.Models.recycling_centres>
@using MvcBreadCrumbs

@{
    ViewBag.Title = "Recycling Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        #geocoder-container > div {
            min-width: 50%;
            margin-left: 25%;
        }

    </style>

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">Recycling Center Map</h1>
    </div>
</div>
<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>
<div id="map" style="height:600px"></div>
<br />


<table class="table" style="display:none;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lattitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="coordinates">
            <td class="Address">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="Latitude">
                @Html.DisplayFor(modelItem => item.Lattitude)
            </td>
            <td class="Longitude">
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}
