@model EnvisionAGreenLife.Models.refrigerator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>refrigerator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adaptive_Defrost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adaptive_Defrost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplStandard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplStandard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompartGrVol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompartGrVol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompartNetVol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompartNetVol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompartType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompartType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Configuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Configuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FF_Vol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FF_Vol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FZ_Vol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FZ_Vol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icemaker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icemaker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEPSApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEPSApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Standard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Standard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star2009)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star2009)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SRI2009)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SRI2009)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_Doors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_Doors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_MEPS_Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_MEPS_Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_MEPScutoff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_MEPScutoff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sold_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sold_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submit_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submit_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tot_Vol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tot_Vol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representative_Brand_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representative_Brand_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fixed_MEPS_allowance_factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixed_MEPS_allowance_factor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variable_MEPS_allowance_factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variable_MEPS_allowance_factor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adjusted_volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adjusted_volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star_Rating_old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star_Rating_old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star_Image_Large)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star_Image_Large)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star_Image_Small)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star_Image_Small)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appliance_types.Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appliance_types.Type_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Refrigerator_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
