@model EnvisionAGreenLife.Models.Food_recipes

@{
    ViewBag.Title = "Leftover Recipe Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/ApplianceDetail.css" rel="stylesheet" />
<h1>@Model.title</h1>
<div style="height:600px;">
    <div class="applianceImage">
        @if (Model.category_breakfast == true)
        {
            <img src='@Url.Content("~/Images/breakfast3.jpg")' alt="Breakfast" style="width:500px;height:500px;" />
        }
        else
            if (Model.category_lunch == true)
        {
            <img src='@Url.Content("~/Images/lunch.jpg")' alt="Lunch" style="width:500px;height:500px;"/>
        }
        else
            if (Model.category_dinner == true)
        {
            <img src='@Url.Content("~/Images/dinner.jpg")' alt="Dinner" style="width:500px;height:500px;" />
        }
        else
            if (Model.category_dessert == true)
        {
            <img src='@Url.Content("~/Images/dessert.jpg")' alt="Dessert" style="width:500px;height:500px;" />
        }
    </div>
    <div class="applianceIntro" style="width:50%">
        <h2>@Model.title</h2>
        <br />
        <h3>Difficulty level: @Model.difficulty_level </h3>
        <h3>Esitmated time: @Model.preparation_time </h3>
        <hr>
        <p>Ingredients: @Model.ingredients </p>
        <br />
        <p>Instructions: @Model.instructions </p>
        <br />
        <br />
        <br />
    </div>
    <hr />
</div>

