@using PagedList.Mvc
@using MvcBreadCrumbs
@model  EnvisionAGreenLife.ViewModel.recipeList

@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* this page contains the view logic for the recipe page design *@
    <style>
        .appliance-card-but {
            padding-bottom: 0px;
        }
    </style>

    <body>
        <div class="page-title-section">
            <div class="container">
                <h1 class="page-title">Recipes</h1>
            </div>
        </div>

        <div class="breadcrum" style="margin-left:10%">
            @Html.Raw(BreadCrumb.Display())
        </div>

        @if (ViewData["foundOrNot"] != null)
        {
            <h2 style="text-align:center; background-color:aliceblue; color:seagreen; margin-top: 0px; margin-bottom: -20px;">No Result Found</h2>
        }

        <div class="content-section" style="padding-top: 35px;">
            <form action="@Url.Action("General_search", "Food_recipes")" method="get" class="appliance-collection-search-bar w-form">
                <input type="search" class="appliance-collection-search w-input" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Find by name, ingredients, time.." id="search" required="" autocomplete="off">
                @Html.DropDownList("Difficulty", null, htmlAttributes: new { @class = "recipe-dropdown" })
                <input type="submit" value="Search" class="appliancec-collection-search-but w-button">
            </form>
        </div>

        @* iterative code to display all the recipes in database in grids of cards.  *@

        <div class="section-3">
            <div class="w-layout-grid grid-3">
                @{int x = 0;}
                @if (Model != null)
                {
                    foreach (var item in Model.recipes)
                    {
                        x++;
                        <div class="appliance-card">
                            <a href='@Url.Action("Details", "Food_recipes",new { id = @item.recipe_id})'>
                                @if (item.recipe_type_id == 1)
                                {
                                    if (item.recipe_id % 9 == 1)
                                    {
                                        <img src='@Url.Content("~/Images/b1.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 2)
                                    {
                                        <img src='@Url.Content("~/Images/b2.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 3)
                                    {
                                        <img src='@Url.Content("~/Images/b3.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 4)
                                    {
                                        <img src='@Url.Content("~/Images/b4.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 5)
                                    {
                                        <img src='@Url.Content("~/Images/b5.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 6)
                                    {
                                        <img src='@Url.Content("~/Images/b6.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 7)
                                    {
                                        <img src='@Url.Content("~/Images/b7.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 8)
                                    {
                                        <img src='@Url.Content("~/Images/b8.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 0)
                                    {
                                        <img src='@Url.Content("~/Images/b9.png")' alt="Breakfast" class="appliance-card-image" />
                                    }
                                }
                                else
                                    if (item.recipe_type_id == 2)
                                {
                                    if (item.recipe_id % 9 == 1)
                                    {
                                        <img src='@Url.Content("~/Images/l1.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 2)
                                    {
                                        <img src='@Url.Content("~/Images/l2.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 3)
                                    {
                                        <img src='@Url.Content("~/Images/l3.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 4)
                                    {
                                        <img src='@Url.Content("~/Images/l4.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 5)
                                    {
                                        <img src='@Url.Content("~/Images/l5.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 6)
                                    {
                                        <img src='@Url.Content("~/Images/l6.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 7)
                                    {
                                        <img src='@Url.Content("~/Images/l7.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 8)
                                    {
                                        <img src='@Url.Content("~/Images/l8.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 0)
                                    {
                                        <img src='@Url.Content("~/Images/l9.png")' alt="Lunch" class="appliance-card-image" />
                                    }
                                }
                                else
                                    if (item.recipe_type_id == 3)
                                {
                                    if (item.recipe_id % 9 == 1)
                                    {
                                        <img src='@Url.Content("~/Images/dinner1.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 2)
                                    {
                                        <img src='@Url.Content("~/Images/dinner2.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 3)
                                    {
                                        <img src='@Url.Content("~/Images/dinner3.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 4)
                                    {
                                        <img src='@Url.Content("~/Images/dinner4.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 5)
                                    {
                                        <img src='@Url.Content("~/Images/dinner5.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 6)
                                    {
                                        <img src='@Url.Content("~/Images/dinner6.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 7)
                                    {
                                        <img src='@Url.Content("~/Images/dinner7.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 8)
                                    {
                                        <img src='@Url.Content("~/Images/dinner8.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 0)
                                    {
                                        <img src='@Url.Content("~/Images/dinner9.png")' alt="Dinner" class="appliance-card-image" />
                                    }
                                }
                                else
                                    if (item.recipe_type_id == 4)
                                {
                                    if (item.recipe_id % 9 == 1)
                                    {
                                        <img src='@Url.Content("~/Images/dessert1.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 2)
                                    {
                                        <img src='@Url.Content("~/Images/dessert2.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 3)
                                    {
                                        <img src='@Url.Content("~/Images/dessert3.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 4)
                                    {
                                        <img src='@Url.Content("~/Images/dessert4.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 5)
                                    {
                                        <img src='@Url.Content("~/Images/dessert5.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 6)
                                    {
                                        <img src='@Url.Content("~/Images/dessert6.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 7)
                                    {
                                        <img src='@Url.Content("~/Images/dessert7.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 8)
                                    {
                                        <img src='@Url.Content("~/Images/dessert8.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                    else
                                    if (item.recipe_id % 9 == 0)
                                    {
                                        <img src='@Url.Content("~/Images/dessert9.png")' alt="Dessert" class="appliance-card-image" />
                                    }
                                }
                            </a>
                            <p>
                                <button onclick="location.href='@Url.Action("Details", "Food_recipes",new { id = @item.recipe_id })'" type="button" class="appliance-card-but w-button" style="height:100px">
                                    @item.name
                                </button>
                            </p>
                        </div>
                    }
                }
            </div>
        </div>

        @* code to display page count based on the data in the database. *@

        <br>
        <br>
        <div class="pagecount" style="margin:auto; text-align:center">
            Page @(Model.recipes.PageCount < Model.recipes.PageNumber ? 0 : Model.recipes.PageNumber)
            of @Model.recipes.PageCount   @Html.PagedListPager(Model.recipes, page => Url.Action("General_search", new { page, currentfilter = ViewBag.currentfilter }))
        </div>
    </body>
