@model IEnumerable<EnvisionAGreenLife.Models.Food_recipes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preparation_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.difficulty_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_breakfast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_lunch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_dinner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_dessert)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preparation_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.difficulty_level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_breakfast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_lunch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_dinner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_dessert)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
