@using MvcBreadCrumbs
@model EnvisionAGreenLife.Models.dishwasher

@{ var SpList = ViewData["SimilarProducts"] as List<EnvisionAGreenLife.Models.dishwasher>;}


@{
    ViewBag.Title = "Dishwasher Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section">
    <div class="container">
        <h1 class="page-title">@Model.Brand - @Model.Model_No</h1>
    </div>
</div>

<div class="breadcrum" style="margin-left:10%">
    @Html.Raw(BreadCrumb.Display())
</div>

<div class="section-3" style="margin-top:40px">
    <div class="w-row">
        <div class="w-col w-col-6">
            <div class="appliance-detail-image-wrapper">
                @if (Model.Dishwasher_Id % 9 == 1)
                {
                    <img src='@Url.Content("~/Images/dishwasher1.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 2)
                {
                    <img src='@Url.Content("~/Images/dishwasher2.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 3)
                {
                    <img src='@Url.Content("~/Images/dishwasher3.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 4)
                {
                    <img src='@Url.Content("~/Images/dishwasher4.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 5)
                {
                    <img src='@Url.Content("~/Images/dishwasher5.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 6)
                {
                    <img src='@Url.Content("~/Images/dishwasher6.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 7)
                {
                    <img src='@Url.Content("~/Images/dishwasher7.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 8)
                {
                    <img src='@Url.Content("~/Images/dishwasher8.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
                else
                if (Model.Dishwasher_Id % 9 == 0)
                {
                    <img src='@Url.Content("~/Images/dishwasher9.png")' alt="Dishwasher" class="appliance-card-image" style="width:80%; border-color:transparent;" />
                }
            </div>
        </div>
        <div class="column-6 w-col w-col-6" style="padding-top: 0px;">
            <p class="paragraph-3"><b>@Model.Brand @Model.Type Dishwasher</b></p>
            <p class="paragraph-3">Energy Rating: @Model.New_Star</p>
            <hr />
            <p class="paragraph-2">
                <strong>Dishwasher Description:<br></strong>The @Model.Brand @Model.Height @Model.Type dishwasher
                is a great time and money saver thanks to its @Model.New_Star Star Water
                Rating and @Model.Cap place settings.
            </p>
            <hr />
            <div class="accordion-wrapper">
                <div class="accordion-item">
                    <div class="accordion-item-trigger">
                        <h4 class="heading-7">Specification                        +</h4>
                    </div>
                    <div class="accordion-item-content">
                        <dl class="dl-horizontal">

                            <dt>
                                Brand
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Brand)
                            </dd>

                            <dt>
                                Place settings
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Cap)
                            </dd>

                            <dt>
                                Energy consumption Kw
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CEC)
                            </dd>

                            <dt>
                                Water conncetion type
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Conn_Type)
                            </dd>

                            <dt>
                                Made in
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>

                            <dt>
                                Width
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Width)
                            </dd>

                            <dt>
                                Depth
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Depth)
                            </dd>

                            <dt>
                                Height
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Height)
                            </dd>

                            <dt>
                                Model number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Model_No)
                            </dd>

                            <dt>
                                star rating
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.New_Star)
                            </dd>

                            <dt>
                                Typt
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Type)
                            </dd>

                            <dt>
                                Water softener
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Water_Softener)
                            </dd>

                            <dt>
                                Product_Website
                            </dt>

                            <dd>
                                <a href="@Model.Product_Website">@Model.Product_Website</a>
                            </dd>

                            <dt>
                                Representative_Brand_URL
                            </dt>

                            <dd>
                                <a href="@Model.Representative_Brand_URL">@Model.Representative_Brand_URL</a>
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h2 class="heading-5">Review Similar Products</h2>
    <div class="container">
        <div class="w-row">

            @foreach (var item in SpList)
            {
                <div class="w-col w-col-4">
                    <div class="appliance-card">
                        <a href='@Url.Action("Details", "dishwashers",new { id = @item.Dishwasher_Id})'>
                            @if (item.Dishwasher_Id % 9 == 1)
                            {
                                <img src='@Url.Content("~/Images/dishwasher1.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 2)
                            {
                                <img src='@Url.Content("~/Images/dishwasher2.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 3)
                            {
                                <img src='@Url.Content("~/Images/dishwasher3.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 4)
                            {
                                <img src='@Url.Content("~/Images/dishwasher4.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 5)
                            {
                                <img src='@Url.Content("~/Images/dishwasher5.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 6)
                            {
                                <img src='@Url.Content("~/Images/dishwasher6.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 7)
                            {
                                <img src='@Url.Content("~/Images/dishwasher7.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 8)
                            {
                                <img src='@Url.Content("~/Images/dishwasher8.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                            else
                            if (item.Dishwasher_Id % 9 == 0)
                            {
                                <img src='@Url.Content("~/Images/dishwasher9.png")' alt="Dishwasher" class="appliance-card-image" />
                            }
                        </a>
                        <button onclick="location.href='@Url.Action("Details", "dishwashers",new { id = @item.Dishwasher_Id })'" type="button" class="appliance-card-but w-button">
                            @item.Brand: @item.Model_No
                        </button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



